<%- include("../admin/layouts/admin_header.ejs")%>

<div style="width:100%" class="col-sm-12 col-xl-6">
    <div class="bg-light rounded h-100 p-4">
        <h6 class="mb-4">FOR CATEGORY</h6>
        <form action="" method="post">
            <%
            if(typeof alert !=='undefined'){
            %>
            <p style="color: rgb(207, 15, 15);text-align: center;"><%= alert %></p>
            <%
            
            }
            %>  
           
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">New Category</label>
                <input name="catname" type="text" class="form-control" id="exampleInputPassword1">
            </div>
          
            <button type="submit" class="btn btn-primary">ADD CATEGORY</button>
        </form>
    </div>

<%- include("../admin/layouts/admin_footer.ejs")%>