
form-horizontal {
    max-width: 60px;
    margin: 0 auto;
    
   
  }
  .control-group {
    margin-bottom: 20px;
    text-align: center;
  
  }
  .control-label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  .controls {
 
    max-width: 300px;
    
  }
  .input-xlarge {
    width: 100%;
  }
  .help-block {
    margin-top: 5px;
    margin-bottom: 0;
    color: #737373;
  }
  .btn {
    margin-left: 130px;
    background-color: aqua;
  }
  @media (max-width: 767px) {
    .form-horizontal .control-label {
      margin-left: 0;
    }
    .form-horizontal .controls {
      margin-left: 0;
    }
    .form-horizontal .btn {
      margin-left: 0;
    }
  }
 
